@model SammysAuto.Models.IndividualButtonPartial

<a type="button" class="btn btn-sm @Model.ButtonType" href="@Url.Action(Model.Action)@Model.ActionParameters">
    <i class="fa glyphicon glyphicon-@Model.Glyph fa-@Model.Glyph"></i>
    <span class="sr-only">@Model.Text</span>
</a>