@model IEnumerable<SammysAuto.Models.ServiceType>

@{
    ViewData["Title"] = "Index";
}

<h3>Service Types</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                 @{await Html.RenderPartialAsync("_TableButtonPartial", new IndividualButtonPartial { ServiceId = item.Id});}
            </td>
        </tr>
}
    </tbody>
</table>
